@import "media.scss";
@import "fonts.scss";


$brand-bg-light: #FAFCFF;
$font-color: #73838E;
$headings-color: #242A33;
$brand-color: #FFCC00;


$font-size: 18px;
$font-family: "Lato", sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  color: $font-color;
  font-size: $font-size;
  line-height: 1.611;
  font-family: $font-family;
}

::selection {
  background: $brand-color;
  text-shadow: none;
}

