$screen-xs : 640px;
$screen-sm : 1024px;
$screen-md : 1280px;
$screen-lg : 1920px;

@mixin screen-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}
@mixin screen-md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}
@mixin screen-sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}
@mixin screen-xs {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}